// make dat background image cover
@mixin bg-fill($arg) {
position: relative;
z-index: 1;
  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
     z-index: -1;
    @if $arg == "light" {
    background: rgba(255, 255, 255, 0.30);
   } @else if $arg == "dark" {
    background: rgba(0, 0, 0, 0.30);
  } @else if $arg == "fade" {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.70));
   }



  }
}
